/*main page*/
.main {
  background: url("../Assets/mile1-assets/home-banner.png") center top / cover
    no-repeat;
  height: 100vh;
  align-items: center;
}

.aciktim {
  background-color: yellow;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: black;
  margin-left: 920px;
}

.main-heading {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 200px;
}

.main-h {
  font-family: "Roboto Condensed", sans-serif;
  color: white;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.aciktim {
  display: block;
  margin-top: 10px;
  text-align: center;
  width: fit-content;
  padding: 10px 25px;
  margin-top: 30px;
}

/*.logom {
  margin-top: 2rem;
  margin-bottom: 4rem;
  margin-left: 750px;
  width: 400px;
} */

.logo-p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

@media (max-width: 1200px) {
  .main-heading {
    font-size: 36px;
    margin-top: 150px;
  }

  .aciktim {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .main-heading {
    font-size: 30px;
    margin-top: 100px;
  }

  .aciktim {
    margin-left: auto;
    margin-right: auto;
  }

  .logom {
    margin-left: 500px;
  }
}
