* {
  margin: 0;
  padding: 0;
}

.opc {
  width: 30%;
  margin: 0 auto;
}
.pizzaadi {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 340px;
}

.pizzafiyati {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 500px;
}

.nav {
  display: flex;
  color: white;
}

.kutu {
  background-color: #ce2829;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  color: white;
}

/* logo kısmı */
.logo {
  margin-top: 2rem;
  margin-bottom: 4rem;
  width: 400px;
}
.isim {
  margin-top: 15px;
  margin-left: 665px;
}

/* boyut ve hamur seçme kısmı bir arada */
.card-container {
  display: flex;
  justify-content: center;
}
.boyut-sec-card {
  width: 45%;
}
.hamur-sec-card {
  width: 45%;
}

.boyut-sec-card {
  width: 21%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 0px;
}

/* hamur seç kısmı */
.hamur-sec-card {
  width: 25%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.size-options {
  display: flex;
  flex-direction: column;
}
.size-options label {
  margin-bottom: 10px;
}

/* ek malzemeler kısmı */
.ek-malzemeler {
  text-align: left;
  margin-left: 665px;
}

.ek-malzemeler h2,
.ek-malzemeler p {
  text-align: left;
}

.malzeme-grup {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-left: 10px;
  margin-bottom: 20px;
}

/* total tutar kısmı */
.total-price {
  color: red;
}

/* sipariş ver kısmı */
.submit-button {
  margin-left: 1040px;
  background-color: #fdc913;
  padding: 10px 80px;
  border-radius: 5px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.siparis-notu {
  margin-left: 660px;
}

.siparis-toplami {
  margin-top: 40px;
  margin: 30px;
  margin-left: 1050px;
  margin-bottom: 20px;
}
